<h1>Dashboard</h1>

<h3><a href = "/users">Users</a></h3>

<h3><a href="/contacts">Contacts</a></h3>


<!-- TESTING AJAX REQUESTs -->
<!-- <script>
$.ajax ({
      type: 'POST',
      url: 'http://localhost:3000/api/v1/emails',
      Accept: 'application/json',
      success: function() {
          alert('Something went wrong. Pleaes notify webmaster');
      }
  });
</script> -->