<h1>Dashboard</h1>
 <script>
 $.ajax ({
      type: 'POST',
      url: 'https://radiant-earth-48853.herokuapp.com/api/v1/companies',
      Accept: 'application/json',
      success: function() {
          alert('Something went wrong. Pleaes notify webmaster');
      }
  });
 alert('test');
</script>