<div class="container" ng-app="app">
  <div ng-controller="quotesCtrl" ng-init="setup()">
    <h1>Quotes</h1>

    <p><%= link_to "Create a new quote", "/quotes/new" %></p>

    <table class="table table-condensed table-striped">
      <tr>
        <th>Product ID</th>
        <th>SKU</th>
        <th>Contact Name</th>
        <th>Company Name</th>
        <th><p ng-click="changeOrder('created_at')"><a href="javascript:void(0)">Date Created</a></th>
      </tr>
      <tr ng-repeat="quote in quotes | orderBy:attribute:sortOrder | limitTo:25">

        <td>
          <p><a href="/quotes/{{ quote.id }}">{{ quote.product_id }} </a></p>
        </td>
        <td>
          <p>{{ quote.product.sku }}</p>
        </td>
        <td>
          <p>{{ quote.contact_id }}</p>
        </td>
        <td>
          <p>quote.company_name </p>
        </td>
        <td>
          <p>{{ quote.created_at | date:mediumDate }}</p>
        </td>
      </tr>
    </table>
    
  </div>
</div>