<script type="text/javascript">
    //<![CDATA[
    var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
    document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
    </script><script src="https://secure.comodo.com/trustlogo/javascript/trustlogo.js" type="text/javascript"></script><style type="text/css" media="screen">#comodoTL {display:block;font-size:8px;padding-left:18px;}</style>


  
    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="Keywords" content="">
<meta name="author" content="">
<!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->


<link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/ls-account-data-3-us-east-1/store-finish-line-custom-finishing-53e922c767901/themes/boxie/resources/img/favicon.ico">
<title>test-crm</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


<link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800,300" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/cms/core.css">
<link rel="stylesheet" type="text/css" href="//d2qq4423n7kgsb.cloudfront.net/store-finish-line-custom-finishing-53e922c767901/themes/boxie/resources/font/font-awesome-4.1.0/css/font-awesome.min.css">
<link href="//d2qq4423n7kgsb.cloudfront.net/store-finish-line-custom-finishing-53e922c767901/themes/boxie/resources/css/main.css?1475271942" rel="stylesheet">

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="/custom.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!--Google Tracking Code for analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21025720-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- verify... -->
<meta name="google-site-verification" content="OwEfYkLjec7mi57klAE73JBYac75nDnMxn7pa9BMrbg">

<meta name="google-site-verification" content="1Cn2JZSWhOotF7nWUucywsqICWa9Rpc_UvpGIryB_RE">
<meta name="msvalidate.01" content="5B6D1CDFA52BDA69FA21BC2FF00FA4CB">
<meta name="p:domain_verify" content="f79071e21f5b5b429adecd0e99bb3806">

<meta name="google-site-verification" content="0dSb1Fhz_VNs3a5VfFs7at82raCqhjON1SeZlII5GkQ">
<meta name="msvalidate.01" content="5B6D1CDFA52BDA69FA21BC2FF00FA4CB">

<!-- wordpress style -->
  </head>
  
  
  <body>
    <main id="page-content" class="wrap container">
    
    
    <div id="banner" class="jumbotron row">
  <h1 align="left" class="categorybanner">Testing!</h1>
</div>
<section class="page-section non-section" style="background:rgba(255,255,255, 0.1); padding:15px 15px 15px 15px;">
    <div style="background:#f6f6f6; padding:15px; margin-bottom:10px; box-shadow:7px 7px 3px rgba(0,0,0, 0.2);">
        <h2>Request a quote and customer service will contact you via email with pricing and availability</h2>
        <form action="<%= request.base_url %>/api/v1/inquiries" method="post" onsubmit="javascript:document.charset=&quot;UTF-8&quot;; return checkMandatery()">  
         
         <!-- window.location='http://finishlinecorp.com/thank-you-quote' -->
                                   
            
            <div class="row" style="padding:15px">
                
                <fieldset style="margin-bottom:30px"><legend style="color:#868485;">Contact Info:</legend>
  
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="background:rgba(255,255,255,0); border:0px;">
                <h5 class="title">* First Name</h5>
                    <label class="sr-only" for="First Name">First Name</label>
                    <input id="input-first" type="text" style="width:125px;" maxlength="255" name="first_name">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="background:rgba(255,255,255,0); border:0px;">
                <h5 class="title">* Last Name</h5>
                    <label class="sr-only" for="Last Name">Last Name</label>
                    <input type="text" style="width:125px;" maxlength="255" name="last_name"> 
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="background:rgba(255,255,255,0); border:0px;">
                <h5 class="title">* Company</h5>
                    <label class="sr-only" for="Company">Company</label>
                    <input type="text" style="width:125px;" maxlength="255" name="company_name">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="background:rgba(255,255,255,0); border:0px;">
                <h5 class="title">* Zip Code</h5>
                    <label class="sr-only" for="Zip Code">Zip Code</label>
                    <input type="text" style="width:125px;" maxlength="255" name="zip_code">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="background:rgba(255,255,255,0); border:0px;">
                <h5 class="title">* Email</h5>
                    <label class="sr-only" for="Email">Email</label>
                    <input type="text" style="width:125px;" maxlength="255" name="email">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="background:rgba(255,255,255,0); border:0px;">
                <h5 class="title">Phone</h5>
                    <label class="sr-only" for="Email">Phone</label>
                    <input type="text" style="width:125px;" maxlength="30" name="phone">     
                </div>
                
                </fieldset>
            </div>
            
                        
            <div class="row" style="padding:15px">
                 
                <fieldset style="margin-bottom:30px">
                <legend style="color:#868485; margin-bottom:10px;">Product Info</legend>
                
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <h5 class="title">* Product</h5>
                    <select id="product" class="product-option" style="width:125px; height:65px;" name="product" multiple="">  
                        <option value="Barbed cord">Barbed cord</option>  
                        <option class="loop" value="Loop with barb">Loop with barb</option>  
                        <option class="loop" value="Loop with ball">Loop with ball</option>  
                        <option class="loop" value="Loop with clasp/upin">Loop with clasp/upin</option>  
                        <option class="loop string" value="Loop with knot">Loop with knot</option>  
                        <option class="loop string" value="Tag string">Tag string</option>  
                        <option class="loop" id="bow" value="Pre-tied bows">Pre-tied bows</option>  
                        <option value="Bookmark tassels">Bookmark tassels</option>  
                        <option class="loop" value="Program tassels">Program tassels</option>  
                        <option value="Graduation Tassels">Graduation Tassels</option>  
                        <option value="Honor Cord Tassels">Honor Cord Tassels</option>  
                        <option value="Cuts">Cuts</option>  
                        <option value="Other">Other</option>  
                    </select>
                </div>
                <div id="material" class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5 class="title">* Material</h5>
                    <select id="material" class="product-option" style="width:125px; height:65px;" name="material" multiple="">  
                        <option id="elastic-material" value="elastic">elastic</option>  
                        <option id="ribbon-material" class="ribbon-material" value="ribbon">ribbon</option>  
                        <option id="string-material" class="string" value="string">string</option>  
                        <option id="cord-material" value="cord">cord</option> 
                        <option id="other-material" value="other">other</option>  
                    </select>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5 class="title">* Color(s)</h5>
                    <label class="sr-only" for="Description">Color</label>
                    <input type="text" style="width:125px;" maxlength="255" name="color">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <div id="length-help" class="loop-length" style="position:absolute; left:125px; bottom:34px; display:none;">?</div>
                    <h5 class="title">*<span class="loop-length" style="display:none"> Loop</span> Length</h5>
                    <div id="length-explain" style="display:none; z-index:3; position:absolute; bottom:90px; width:200px; color:red; background:#fff; font-size:11px;">* Length of loop is measurement from one end to the other when laid flat. (Half of circumference)</div>
                    <label class="sr-only" for="Description">Length</label>
                    <input type="text" style="width:125px;" maxlength="255" name="length">
                </div>
                
                <div class="visible-sm col-sm-12"></div>
                
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5 class="title">* Width</h5>
                    <select id="width" class="product-option" style="width:125px; height:65px;" name="width" multiple="">  
                        <option class="elastic cotton" style="display:none" value="1/32 inch (cotton-braided)">1/32" cotton-braided (#166)</option> 
                        <option class="elastic tag" style="display:none" value="1/32 inch (size 01)">1/32" (01)</option>
                        <option class="elastic" style="display:none" value="1/16 inch (light weight, size 03)">1/16" (03, light weight, #80)</option>  
                        <option class="elastic" style="display:none" value="1/12 inch (medium weight)">1/12" (#7115 medium weight, #7115)</option>  
                        <option class="elastic" style="display:none" value="3/32 inch (XHW, size 06)">3/32" (06, Extra Heavy Weight)</option>  
                        <option class="elastic" style="display:none" value="1/8 inch flat">1/8 inch flat</option>  
                        <option class="elastic" style="display:none" value="1/4 inch flat">1/4 inch flat</option>  
                        <option class="ribbon" style="display:none" value="3/8 inch">3/8 inch</option>  
                        <option class="ribbon" style="display:none" value="5/8 inch">5/8 inch</option>  
                        <option class="ribbon" style="display:none" value="7/8 inch">7/8 inch</option>  
                        <option class="ribbon" style="display:none" value="1/2 inch">1/2 inch</option>  
                        <option class="cord" style="display:none" value="mobile cord">mobile cord</option>  
                        <option class="cord" style="display:none" value="6/8">6/8</option>  
                        <option class="cord" style="display:none" value="5/5">5/5</option>  
                        <option class="cord" style="display:none" value="7/2">7/2</option>  
                        <option class="cord" style="display:none" value="6/9">6/9</option>  
                        <option value="other">other</option>  
                        <option value="not sure">not sure</option>
                        <option class="na" style="display:none" value="n/a">n/a</option>  
                    </select>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5 class="title">* Quantity</h5>
                    <label class="sr-only" for="Description">Quantity</label>
                    <input type="text" style="width:125px;" maxlength="255" name="quantity">
                </div>
                
                </fieldset>
            </div>
            <div id="bow-info" class="row" style="display:none; padding:15px;">
                
                <fieldset style="margin-bottom:30px">
                
                <legend style="color:#868485; margin-bottom:10px;">Bow/Ribbon Info</legend>
                
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <h5 class="title">Bow Size</h5>
                    <label class="sr-only" for="Description">Bow Size</label>
                    <textarea style="width:125px;" name="bow_size" maxlength="2000"></textarea>
                </div>
                <div id="attachment" class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="display:none">
                    <h5 class="title">* Attachment</h5>
                    <select style="width:125px; height:65px;" name="attachment" multiple="">  
                        <option value="elastic loop">elastic loop</option>  
                        <option class="ribbon" value="ribbon loop">ribbon loop</option>  
                        <option value="twist-tie">twist-tie</option>  
                        <option value="adhesive">adhesive</option>  
                        <option value="pin">pin</option>  
                        <option value="other">other</option>  
                    </select>
                </div>
                <div id="ribbon-type" class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="display:none">
                    <h5 class="title">* Ribbon Type</h5>
                    <select style="width:125px; height:65px;" name="ribbon_type" multiple="">  
                        <option value="satin sf">satin (single-face)</option>  
                        <option value="satin df">satin (double-face)</option>  
                        <option value="satin stretch">satin stretch</option>  
                        <option value="grosgrain">grosgrain</option>  
                        <option value="grosgrain stretch">grosgrain stretch</option>  
                        <option value="sheer">sheer</option>
                        <option value="sheer glitter">sheer glitter</option>  
                        <option value="not sure">not sure</option>  
                    </select>
                </div>
            </fieldset></div>
            <div class="row" style="padding:15px">
            
                <fieldset style="margin-bottom:30px">
                <legend id="bow-info" style="color:#868485; margin-bottom:10px;">Other Specs</legend>
                
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <h5 class="title">* Application</h5><label class="sr-only" for="Description">Application</label>
                    <textarea style="width:125px; height:75px;" name="application" maxlength="2000" placeholder="What will you be using this product for?"></textarea>
                </div>
                
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <h5 class="title">* Lead Time</h5>
                    <select style="width:125px" name="lead_time">  
                        <option value="-None-">-Select-</option>  
                        <option value="1-2 Days">1-2 Days</option>  
                        <option value="3-5 Days">3-5 Days</option>  
                        <option value="1-2 Weeks">1-2 Weeks</option>  
                        <option value="2-4 Weeks">2-4 Weeks</option>  
                        <option value="4+ Weeks">4+ Weeks</option>  
                        <option value="Don't Care">Don't Care</option>  
                        <option value="Not Sure">Not Sure</option>  
                    </select>
                </div>
                <div class="visible-xs col-xs-12">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <h5 class="title">In-hand Date (optional)</h5>
                    <label class="sr-only" for="Description">In-hand Date</label>
                    <input type="text" style="width:125px;" maxlength="120" name="in_hand_date" placeholder="MM/dd/yyyy">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2" style="margin-top:30px">
                    <input id="submit" class="btn-lg btn-warning" type="submit" value="Submit">
                    
                </div>
                </fieldset>
                
            </div>
            <!--<script> var mndFileds=new Array('Company','First Name','Last Name','Email','Zip Code','LEADCF4','LEADCF5','LEADCF7','LEADCF8','LEADCF12','LEADCF20', 'LEADCF22');var fldLangVal=new Array('Company','First Name','Last Name','Email','Zip Code','Product','Materials','Length','Applications','Quantity','Widths','Lead-Time');function reloadImg(){if(document.getElementById('imgid').src.indexOf('&d') !== -1 ){document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();}else{document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();}}function checkMandatery(){var name='';var email='';for(i=0;i<mndFileds.length;i++){ var fieldObj=document.forms['WebToLeads901545000002328001'][mndFileds[i]];if(fieldObj) {if(((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0){alert(fldLangVal[i] +' cannot be empty'); fieldObj.focus(); return false;}else if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert('Please select ' + fldLangVal[i]); fieldObj.focus(); return false;}} else if(fieldObj.type =='checkbox'){ if (fieldObj.checked == false){     alert('Please accept  '+fldLangVal[i]); fieldObj.focus();return false;}}try{if(fieldObj.name == 'Last Name'){name = fieldObj.value;}}catch(e){}}}try{if($zoho){var LDTuvidObj = document.forms['WebToLeads901545000002328001']['LDTuvid'];if(LDTuvidObj){LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();}var firstnameObj = document.forms['WebToLeads901545000002328001']['First Name'];if(firstnameObj){name = firstnameObj.value +' '+name;}$zoho.salesiq.visitor.name(name);var emailObj = document.forms['WebToLeads901545000002328001']['Email'];if(emailObj){email = emailObj.value;$zoho.salesiq.visitor.email(email);}}}catch(e){}}</script>-->
        </form>
    </div>    
</section>

<script>
    
    $(document).ready(function() {
        
        // Zoho api
        
        var first_name = $('input[name="First Name"]');
        var last_name = $('input[name="Last Name"]');
        var company = $('input[name="Company"]');
        var zip_code = $('input[name="Zip Code"]');
        var email = $('input[name="Email"]');
        var phone = $('input[name="Phone"]');
        
        var product = $('input[name="LEADCF4"]');
        var material = $('input[name="LEADCF5"]');
        var color = $('input[name="LEADCF3"]');
        var length = $('input[name="LEADCF7"]');
        var width = $('input[name="LEADCF20"]');
        var quantity = $('input[name="LEADCF12"]');
        
        var bow_size = $('input[name="LEADCF28"]');
        var bow_attachment = $('input[name="LEADCF11"]');
        var ribbon_type = $('input[name="LEADCF10"]');
        
        var application = $('input[name="LEADCF8"]');
        var lead_time = $('input[name="LEADCF22"]');
        var in_hand_date = $('input[name="LEADCF91"]');
        var file_url = $('input[name="LEADCF24"]');
        var coupon_code = $('input[name="LEADC33"]');
        
        // var api = "https://crm.zoho.com/crm/private/xml/Potentials/updateRecords?authtoken=418431ea64141079860d96c85ee41916&scope=crmapi&id="+potentialId+"&wfTrigger=true&version=2&xmlData=<Potentials><row no='1'><FL val='Stage'><![CDATA[ "+stage+" ]]></FL><FL val='sample info'><![CDATA[ "+sampleInfo+" ]]></FL></row></Potentials>";
        //         $.ajax ({
        //             type: 'POST',
        //             url: api,
        //             dataType: 'json',
        //             success: function() {
        //                 alert('Something went wrong. Pleaes notify webmaster');
        //             }
        //         });
        
        $('#length-help').hover(function() {
            $('#length-explain').toggle();
        })
        
        $('#application-help').hover(function() {
            $('#application-explain').toggle();
        })
        
        $('.loop').click(function() {
            $('.loop-length').show();
        })
        
        $('#bow').click(function() {
            $('#attachment').show();
            $('#bow-info').show();
        })
        
        $('.ribbon-material').click(function() {
            $('#ribbon-type').show();
            $('#bow-info').show();
        })
        
        $('#elastic-material').click(function() {
            $('#width').children().hide();
            $('.elastic').show();
            if ($('#product').val() == 'Barbed cord'||$('#product').val() == 'Loop with barb'||$('#product').val() == 'Loop with ball'||$('#product').val() == 'Loop with clasp'||$('#product').val() == 'Pre-tied bows') {
                $('.tag').hide();
            }
            if ($('#product').val() == 'Loop with barb'||$('#product').val() == 'Loop with ball'||$('#product').val() == 'Loop with clasp'||$('#product').val() == 'Pre-tied bows') {
                $('.cotton').hide();
            }
            if ($('#product').val() == 'Tag string') {
                $('#width').children().hide();
                $('.tag').show();
                $('.tag').attr('selected','selected');
            }
        })
        
        $('#ribbon-material').click(function() {
            $('#width').children().hide();
            $('.ribbon').show();
        })
        
        $('#cord-material').click(function() {
            $('#width').children().hide();
            $('.cord').show();
        })
        
        $('#string-material').click(function() {
            $('#width').children().hide();
            $('.tag').show();
        })
        
        $('.string').click(function() {
            $('#width').children().hide();
            $('.tag').show();
            $('.tag').attr('selected','selected');
        })
    })
    
</script>
      
    </main>
    <footer id="page-footer">
  <div class="container">
    <div class="footer-contact text-center row" style="color:#f6f6f6;">
      <div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-3">
        <a href="#"><i class="fa fa-envelope-o footerstyle"></i><span class="footerstyle">info@finishlinecorp.com</span></a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <a href="#"><i class="fa fa-phone footerstyle"></i><span class="footerstyle">847.729.7320</span></a>
      </div>
      <div class="social-buttons col-xs-12 col-sm-4 col-lg-2">
        <a class="facebook" href="https://www.facebook.com/finishlinecorp" itemprop="url"><i class="fa fa-facebook footerstyle footerfacebook"></i></a>
        <a class="twitter" href="https://twitter.com/finishlineinc" itemprop="url"><i class="fa fa-twitter footerstyle footertwitter"></i></a>
        <a class="gplus" href="https://plus.google.com/u/0/116763952094174729476/posts" itemprop="url"><i class="fa fa-google-plus footerstyle footergoogle"></i></a>
        <a class="pinterest" href="http://www.pinterest.com/finishlineinc/" itemprop="url"><i class="fa fa-pinterest footerstyle footerpinterest"></i></a>
      </div>
    </div>
    <div class="footer-info wrap row non-product" style="padding:10px; margin-top:30px;">
      <div class="col-sm-8">
        <ul class="list-unstyled">
          <li>© 2015 by Finish Line Custom Finishing</li>
          <li><a href="//finishlinecorp.com/terms">Terms &amp; Conditions</a></li>
          <li><a href="//finishlinecorp.com/privacy">Privacy Policy</a></li>
          <li><a href="//finishlinecorp.com/returns">Refund Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p class="credit">Powered by <a href="http://www.lemonstand.com">LemonStand</a></p> 
      </div>
    </div>
  </div>
</footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/cms/core.js"></script>
<script src="//d2qq4423n7kgsb.cloudfront.net/store-finish-line-custom-finishing-53e922c767901/themes/boxie/resources/js/plugins.min.js"></script>
<script src="//d2qq4423n7kgsb.cloudfront.net/store-finish-line-custom-finishing-53e922c767901/themes/boxie/resources/js/main.min.js?1442678723"></script>
<script src="//d2qq4423n7kgsb.cloudfront.net/store-finish-line-custom-finishing-53e922c767901/themes/boxie/resources/js/custom.js?1468691843"></script>
  
</body></html>