<div class="container" ng-app="app">
  <div ng-controller="inquiriesCtrl" ng-init="setup()">
    <h1>Inquiries</h1>

    <p><%= link_to "Add a new inquiry", "/inquiries/new" %></p>

    <table class="table table-condensed table-striped">
      <tr>
        <th><p ng-click="changeOrder('first_name')"><a href="javascript:void(0)">Name</a></p></th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th><p ng-click="changeOrder('created_at')"><a href="javascript:void(0)">Date Created</a></th>
      </tr>
      <tr ng-repeat="inquiry in inquiries | orderBy:attribute:sortOrder | limitTo:5">
        <td>
          <p><a href="/inquiries/{{ inquiry.id }}">{{ inquiry.first_name }} {{ inquiry.last_name }} </a></p>
        </td>
        <td>
          <p>{{ inquiry.company_name }}</p>
        </td>
        <td>
          <p>{{ inquiry.email }}</p>
        </td>
        <td>
          <p>{{ inquiry.phone_number }}</p>
        </td>
        <td>
          <p>{{ inquiry.created_at | date:mediumDate }}</p>
        </td>
      </tr>
    </table>
    
  </div>
</div>