<p>Lauren from  has submitted a quote request.</p>
      <p>
        <strong>Product:</strong> Barbed cord<br>
        <strong>Material:</strong> elastic<br>
        <strong>Quantity:</strong> 1000<br>
        <strong>Lead Time:</strong> Not Sure<br>
        <strong>In Hand Date:</strong> <br>
        <strong>Zip Code:</strong> 60647<br>
        <strong>Comment:</strong> <br> 
      </p>
      <p><a href='http://localhost:3000/inquiries/5?status=accept'>Accept Request</a></p>
      <p><a href='http://localhost:3000/inquiries/5?status=reject'>Reject Request</a></p>   