<p>Lauren from  has submitted a quote request.</p>
      <p>
        <strong>Product:</strong> <br>
        <strong>Material:</strong> <br>
        <strong>Quantity:</strong> <br>
        <strong>Lead Time:</strong> -None-<br>
        <strong>In Hand Date:</strong> <br>
        <strong>Zip Code:</strong> 60647<br>
        <strong>Comment:</strong> <br> 
      </p>
      <p><a href='http://localhost:3000/inquiries/23?status=accept'>Accept Request</a></p>
      <p><a href='http://localhost:3000/inquiries/23?status=reject'>Reject Request</a></p>   