<p>first from  has submitted a quote request.</p>
      <p>
        <strong>Product:</strong> Loop with barb<br>
        <strong>Material:</strong> elastic<br>
        <strong>Quantity:</strong> 1<br>
        <strong>Lead Time:</strong> 3-5 Days<br>
        <strong>In Hand Date:</strong> <br>
        <strong>Zip Code:</strong> 123454<br>
        <strong>Comment:</strong> <br> 
      </p>
      <p><a href='http://localhost:3000/inquiries/167?status=accept'>Accept Request</a></p>
      <p><a href='http://localhost:3000/inquiries/167?status=reject'>Reject Request</a></p>   