<<<<<<< HEAD
<p>testing from  has submitted a quote request.</p>
=======
<p>TEST from  has submitted a quote request.</p>
>>>>>>> ebce9a29d89d3621f2b7dd1470473c3aa2d59d73
      <p>
        <strong>Product:</strong> <br>
        <strong>Material:</strong> <br>
        <strong>Quantity:</strong> <br>
        <strong>Lead Time:</strong> -None-<br>
        <strong>In Hand Date:</strong> <br>
<<<<<<< HEAD
        <strong>Zip Code:</strong> 60647<br>
        <strong>Comment:</strong> <br> 
      </p>
      <p><a href='http://localhost:3000/inquiries/16?status=accept'>Accept Request</a></p>
      <p><a href='http://localhost:3000/inquiries/16?status=reject'>Reject Request</a></p>   
=======
        <strong>Zip Code:</strong><br>
        <strong>Comment:</strong> <br> 
      </p>
      <p><a href='http://localhost:3000/inquiries/13?status=accept'>Accept Request</a></p>
      <p><a href='http://localhost:3000/inquiries/13?status=reject'>Reject Request</a></p>   
>>>>>>> ebce9a29d89d3621f2b7dd1470473c3aa2d59d73
