<p>testlocal2first from  has submitted a quote request.</p>
      <p>
        <strong>Product:</strong> Barbed cord<br>
        <strong>Material:</strong> elastic<br>
        <strong>Quantity:</strong> 1<br>
        <strong>Lead Time:</strong> 1-2 Weeks<br>
        <strong>In Hand Date:</strong> <br>
        <strong>Zip Code:</strong> 12345<br>
        <strong>Comment:</strong> <br> 
      </p>
      <p><a href='http://localhost:3000/inquiries/179?status=accept'>Accept Request</a></p>
      <p><a href='http://localhost:3000/inquiries/179?status=reject'>Reject Request</a></p>   